**.pyc
__pycache__
runs
*.h5
*.tflite

car/longtail/captured_frames
car/longtail/runs
car/control/mycar/data/
car/control/mycar/models/

Qwen2-VL-2B-Instruct
cloud/nohup.out
cloud/Qwen/Qwen2.5-VL-3B-Instruct
